aiohttp==2.2.5
aioodbc==0.2.0
async-timeout==2.0.0
certifi==2017.7.27.1
chardet==3.0.4
click==6.7
cx-Oracle==6.0.2
dj-database-url==0.4.2
flake8==3.4.1
idna==2.6
git+https://github.com/Python-Logging-For-Human/lazy_logger
mccabe==0.6.1
multidict==3.2.0
pew==1.0.0
pipenv==8.2.6
psycopg2==2.7.3.2
pycodestyle==2.3.1
pyflakes==1.5.0
pyodbc==4.0.17
python-dotenv==0.7.1
requests==2.18.4
tqdm==4.19.2
urllib3==1.22
virtualenv==15.1.0
virtualenv-clone==0.2.6
wincertstore==0.2
yarl==0.13.0